<div class="page-header">
	<h1><%= @my_product.title %> <small><%= short_datetime(@my_product.deadline) %></small></h1>
</div>
<%= link_to "User profile", user_path(@my_user), {class: "btn btn-primary"} %>
<p class="lead"><%= @my_product.description %></p>